---
import { skills } from '../../constants/skill';
---

<div
  class="glassmorphism glow-shadow w-full max-w-xl rounded-lg border border-accent-lavender-400/60 p-4 backdrop-blur-2xl"
>
  <h2 class="mb-4 font-ibmPlexsans text-base font-bold text-neutral-100">
    Skills and Technologies
  </h2>

  <div id="skills-container" class="flex flex-wrap items-center justify-start gap-2">
    {
      skills.map((skill) => (
        <div
          class={`flex transform items-center gap-1 rounded-full px-3 py-1 text-xs font-semibold transition-all duration-300 hover:scale-105 md:text-sm ${skill.bgColor} ${skill.textColor}`}
        >
          {skill.image && <img src={skill.image} alt={skill.name} class="mr-1 h-4 w-4" />}
          {skill.name}
        </div>
      ))
    }
  </div>
</div>

<script>
  const skillsContainer = document.getElementById('skills-container');

  if (skillsContainer) {
    skillsContainer.addEventListener('mouseover', (e) => {
      const skillPill = (e.target as HTMLElement).closest('div');
      if (skillPill) {
        skillPill.classList.add('shadow-lg');
      }
    });

    skillsContainer.addEventListener('mouseout', (e) => {
      const skillPill = (e.target as HTMLElement).closest('div');
      if (skillPill) {
        skillPill.classList.remove('shadow-lg');
      }
    });
  }
</script>
