---
import JobProf from '../shared/JobProfile.jsx';

const jobItems = [
  {
    imageprof: '/img/logo-SORE.svg',
    job: 'Frontend Developer',
    company: 'SORE. Pixel Crafters • Jul 2023 - Now',
    bgColor: '#ffffff',
    rotation: '-10deg',
  },

  {
    imageprof: false,
    job: 'Graphic Designer and Social Media Staff',
    company: 'Maritim Muda Nusantara • Feb 2023 - Jun 2023',
    bgColor: '#12aec7',
    rotation: '10deg',
  },
];
---

<div class="grid grid-flow-row">
  <h2 class="font-silkScreen text-xl text-dark-text-primary">Experience</h2>
  {
    jobItems.map((item) => {
      return (
        <div class="w-full md:max-w-fit">
          <JobProf
            imageprof={item.imageprof}
            job={item.job}
            company={item.company}
            bgColor={item.bgColor}
            rotation={item.rotation}
          />
        </div>
      );
    })
  }
</div>
